In [2]:
pip install panda

Requirement already satisfied: panda in /opt/conda/lib/python3.10/site-packages (0.3.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from panda) (2.28.1)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from panda) (65.5.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.10/site-packages (from requests->panda) (1.26.13)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.10/site-packages (from requests->panda) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.10/site-packages (from requests->panda) (2022.12.7)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/conda/lib/python3.10/site-packages (from requests->panda) (2.1.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd

In [12]:
#question 1

my_list = [4, 8, 15, 16, 23, 42]

s = pd.Series(my_list)
print(s)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [17]:
#question 2

my_list = [1,2,3,4,5,6,7,8,9,10]

a = pd.Series(my_list)
print(a)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [22]:
#Question 3
data = {"Name": ['Alice', 'Bob','Claire'],
        "age":[ 25,30,27],
        "Gender":[ 'Female','Male','Female']}

In [24]:
 s =pd.DataFrame(data)

In [25]:
print(s)

     Name  age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Question 4

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types, much like a spreadsheet or a SQL table. It is a primary object that is used to represent and manipulate data in Pandas. A DataFrame can be thought of as a collection of Series objects, where each Series represents a column of data.

In contrast, a Pandas Series is a one-dimensional labeled array capable of holding data of any type. It is similar to a column in a spreadsheet or a SQL table.

Here's an example to illustrate the difference between a DataFrame and a Series:

In [35]:
my_list =[1,2,3,4,5,6,7]
sam = pd.Series(my_list)

data = {
    "A":[1,2,3,4,5,6],
    "B":['a','b','c','d','e','f'],
    "C":[1.1,2.2,3.3,4.4,5.5,6.6]}
sam2 =  pd.DataFrame(data)

In [36]:
print(sam)
print(sam2)

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
   A  B    C
0  1  a  1.1
1  2  b  2.2
2  3  c  3.3
3  4  d  4.4
4  5  e  5.5
5  6  f  6.6

n the output, you can see that the Series contains a single column of data with the index values 0 to 4. On the other hand, the DataFrame contains three columns of potentially different data types, with the index values 0 to 4. The column 'A' is a column of integers, 'B' is a column of strings, and 'C' is a column of floats. Thus, a DataFrame can contain multiple columns of data, whereas a Series represents a single column of data.

Question 5

There are many functions available in Pandas that can be used to manipulate data in a DataFrame. Here are some of the most common functions:

head() and tail(): These functions are used to view the first and last n rows of the DataFrame, respectively. For example, if you have a DataFrame with 1000 rows, you can use df.head(5) to view the first 5 rows.

describe(): This function is used to generate descriptive statistics of the DataFrame, such as mean, standard deviation, minimum, maximum, and quartiles. For example, df.describe() can be used to get an overview of the statistical distribution of the data.

sort_values(): This function is used to sort the rows of the DataFrame based on one or more columns. For example, df.sort_values('column_name') can be used to sort the DataFrame based on the values in the column 'column_name'.

groupby(): This function is used to group the data in the DataFrame based on one or more columns, and apply a function to each group. For example, df.groupby('column_name').sum() can be used to group the data by the values in the column 'column_name', and calculate the sum of each group.

drop(): This function is used to remove rows or columns from the DataFrame. For example, df.drop('column_name', axis=1) can be used to remove the column 'column_name' from the DataFrame.

fillna(): This function is used to fill missing values in the DataFrame with a specified value or method. For example, df.fillna(0) can be used to fill all missing values in the DataFrame with 0.

merge(): This function is used to merge two or more DataFrames based on a common column. For example, if you have two DataFrames with a common column 'column_name', you can use pd.merge(df1, df2, on='column_name') to merge the two DataFrames.

These are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame. The choice of which function to use depends on the specific task you want to accomplish with the data.

Q6

In Pandas, both Series and DataFrame are mutable in nature, meaning that you can modify their values after they have been created.

For example, you can change the values of a Series by using indexing to access specific elements of the Series and assign new values to them. Similarly, you can modify the values of a DataFrame by using indexing to access specific cells or columns of the DataFrame and assign new values to them.

Q7

You can create a DataFrame using multiple Series by passing a dictionary of Series objects to the DataFrame constructor. The keys of the dictionary correspond to the column names of the DataFrame, and the values of the dictionary correspond to the data in each column.

In [44]:
#Here's an example of how to create a DataFrame using multiple Series
a = ['saqib','shahid','seerat']
b = [20,21,19]
c = ['male','male','female']

name = pd.Series(a)
age = pd.Series(b)
gender = pd.Series(c)

data = {"Name":name,"Age":age,"Gender":